.body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    
}
.categories{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 150px;
    gap: 10px;
    font-weight: 500;
    color: #999999;
    font-size: 18px;
    border-right: 1px solid #dddddd;

}
.body i {
    font-size: 100px;
    color: #bbbbbb;
    margin-bottom: 20px;
}

.bagHeader {
    display: flex;
    gap: 10px;
    font-weight: 900;
    font-size: 18px;
    padding-left: 40px;
    margin-bottom: 40px;
}
.cart {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-right: 100px;
    color: #333333;
}
.shop{
    max-width: 220px;
    padding-left: 40px;

    
}
 .amountCheck{
font-weight: 700;
 }