.body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.categories {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 150px;
  gap: 10px;
  font-weight: 500;
  color: #999999;
  font-size: 18px;
  border-right: 1px solid #dddddd;
}
.bodyIcon {
  font-size: 100px;
  color: #bbbbbb;
  margin-bottom: 20px;
  text-align: center;
}
.bagHeader {
  display: flex;
  gap: 10px;
  font-weight: 900;
  font-size: 18px;
  padding-left: 40px;
  margin-bottom: 40px;
}
.cart {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-right: 100px;
  color: #333333;
}
.shop {
  max-width: 220px;
  padding-left: 30px;
  text-align: center;
}
.amountCheck {
  font-weight: 700;
  text-align: center;
}

@media only screen and (max-width: 1300px) {
  .categories {
    padding-left: 40%;
  }
}

@media only screen and (max-width: 1000px) {
  .categories {
    padding-left: 30%;
  }
}

@media only screen and (max-width: 750px) {
  .body {
    display: none;
  }
  .productGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .productGridImage {
    width: 100%;
    object-fit: contain;
    opacity: 0.9;
  }
  .productGridCard {
    position: relative;
  }
  .productGridInfo {
    position: absolute;
    z-index: 1;
    bottom: 5%;
    left: 5%;
    color: white;
    font-size: 24px;
    font-weight: 800;
  }
  .categories {
    border: none;
  }
}

@media only screen and (max-width: 500px) {
  .productGridInfo {
    font-size: 20px;
    font-weight: 600;
  }
}

@media only screen and (max-width: 400px) {
  .productGridInfo {
    font-size: 16px;
    font-weight: 400;
  }
}
